div{
    border: 1px solid rgba(109, 109, 109, 0.377);
    padding: 50px;
}

span > button {
    padding: 5px 10px;
    border-radius: 0px;
    border: 0px;
    background-color: rgba(128, 128, 128, 0.425);
    font-weight: 700;
    outline-color: pink;
}
